#wrap { width: 100%; height: auto; margin: auto; font-family: 'Nunito Sans', sans-serif ,'Noto Sans KR', sans-serif; }

#wrap h2 { font-weight: 600; }

@media screen and (max-width: 767px) { #headBox { width: 100%; height: 70px; z-index: 500; background-color: rgba(0, 0, 0, 0.6); }
  #headBox .h_logo { margin-left: 20px; width: 149px; height: 70px; }
  #headBox #gnb { width: 120px; height: 100%; margin-right: 0; }
  #headBox #gnb .navBox { display: none; }
  #headBox #gnb .search_icon { float: left; width: 42px; height: 70px; margin-right: 17px; background-size: 60%; }
  #headBox #gnb .whole_icon { float: left; width: 42px; height: 70px; background-size: 90%; }
  .viewBox_01 { height: 600px; }
  .viewBox_01 > .view_title_01 { top: 200px; left: 90px; width: 164px; height: 127px; }
  .viewBox_01 > .view_title_01 > dl > dt { line-height: 50px; font-weight: 600; font-size: 2.375rem; }
  .viewBox_01 > .view_title_01 > dl > dd { font-size: 1rem; }
  .viewBox_01 .view_title_btn_01 { top: 340px; left: 90px; width: 170px; height: 35px; }
  .viewBox_01 .view_title_btn_01 a { font-size: 1rem; line-height: 35px; }
  .conBox_01 { width: 100%; height: auto; }
  .conBox_01 .imgBox_01 { padding-top: 50px; width: 180px; height: 600px; }
  .conBox_01 .imgBox_01 a { display: block; width: 100%; height: 100%; color: #fff; padding-top: 89px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 dt { font-size: 0.75rem; margin-bottom: 10px; }
  .conBox_01 .imgBox_01 dd { font-size: 1.5rem; }
  .conBox_01 .imgBox_01 > .img_01 { width: 180px; height: 250px; background-position: 27% 50%; }
  .conBox_01 .imgBox_01 > .img_01 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 100px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_01 > a:hover, .conBox_01 .imgBox_01 > .img_01 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_01 .img_01_title { width: 180px; height: 70px; }
  .conBox_01 .imgBox_01 > .img_02 { width: 180px; height: 250px; margin-top: 50px; background-position: 20% 50%; }
  .conBox_01 .imgBox_01 > .img_02 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 100px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_02 > a:hover, .conBox_01 .imgBox_01 > .img_02 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_02 .img_02_title { width: 180px; height: 70px; }
  .conBox_02 { height: 550px; padding-top: 100px; box-sizing: border-box; overflow: hidden; }
  .conBox_02 .conBox_02_title { top: 151px; width: 320px; height: 180px; }
  .conBox_02 .conBox_02_title > dl > dt { font-size: 1.5rem; }
  .conBox_02 .conBox_02_title > dl > dd { font-size: 0.875rem; padding-top: 10px; }
  .conBox_02 .prodBtn_01 { bottom: 160px; width: 167px; height: 27px; }
  .conBox_02 .prodBtn_01 a { line-height: 27px; font-size: 0.875rem; }
  .conBox_02 .conBox_02_subBox { max-width: 360px; height: 130px; }
  .conBox_02 .conBox_02_subBox .subBox_btn { top: 100%; }
  .conBox_02 .conBox_02_subBox .subBox_btn button { width: 30px; height: 30px; transform: translateY(-50%); }
  .conBox_02 .conBox_02_subBox .subBox_btn > .next { margin-right: 45px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .prev { margin-left: 45px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul { width: 992px; height: 100%; }
  .conBox_02 .conBox_02_subBox > ul > li { width: 180px; height: 130px; margin-right: 23px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul > li:first-child { margin-right: 0; }
  .conBox_02 .conBox_02_subBox > ul > li > a { display: block; width: 100%; height: 100%; color: #fff; font-weight: 600; text-align: center; padding-top: 55px; box-sizing: border-box; }
  .conBox_03 { height: 800px; }
  .conBox_03:before { content: " "; width: 100%; height: 140px; background-color: #fff; position: absolute; top: -115px; left: 0; }
  .conBox_03 .conBox_03_title { width: 280px; height: 190px; margin: auto; }
  .conBox_03 .conBox_03_title h2 { padding-top: 100px; font-size: 1rem; }
  .conBox_03 .colBox { width: 320px; height: 450px; }
  .conBox_03 .colBox .colBox_01 { width: 100%; height: 225px; }
  .conBox_03 .colBox .colBox_01 > li { float: left; width: 100px; height: 215px; margin-right: 10px; background-size: contain; }
  .conBox_03 .colBox .colBox_01 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 1.125rem; line-height: 900px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox .colBox_01 > li > a.action { line-height: 200px; }
  .conBox_03 .colBox .colBox_01 > li > a > span { display: block; }
  .conBox_03 .colBox .colBox_01 > li:last-child { margin-right: 0; }
  .conBox_03 .colBox .colBox_02 > li { float: left; width: 100px; height: 215px; margin-right: 10px; background-size: contain; }
  .conBox_03 .colBox .colBox_02 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 1.125rem; line-height: 900px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox .colBox_02 > li > a.action { line-height: 200px; }
  .conBox_03 .colBox .colBox_02 > li > a > span { display: block; }
  .conBox_03 .colBox .colBox_02 > li:last-child { margin-right: 0; }
  .conBox_03 .prodBtn_02 { bottom: 100px; width: 60px; height: 25px; padding-top: 30px; }
  .conBox_03 .prodBtn_02 a { line-height: 27px; font-size: 0.875rem; }
  .viewBox_02 { height: 300px; }
  .viewBox_02 .view_title_02 { padding-top: 100px; height: 90px; }
  .viewBox_02 .view_title_02 p { height: 40px; font-size: 1.5rem; margin-bottom: 18px; }
  .viewBox_02 .view_title_02 > .view_btn_02 { width: 170px; height: 35px; }
  .viewBox_02 .view_title_02 > .view_btn_02 > a { line-height: 35px; }
  .adBox { height: 680px; padding-top: 80px; }
  .adBox .adBox_conBox { margin: auto; width: 280px; height: 500px; }
  .adBox .adBox_title { width: 100%; height: 100px; }
  .adBox .adBox_title h2 { font-size: 1.75rem; }
  .adBox .adBox_title .adBox_info { display: none; }
  .adBox .adBox_title .newsBtn { width: 100%; height: auto; padding-top: 16px; }
  .adBox .adBox_title .newsBtn > a { width: 120px; height: 24px; font-size: 0.875rem; font-weight: 600; border-bottom: 0.5px solid #fff; color: #fff; }
  .adBox .adBox_imgBox { margin-top: 45px; width: 100%; height: 370px; }
  #footBox { width: 100%; height: auto; text-align: center; }
  #footBox .fb_01 { width: 360px; height: 610px; margin: auto; background-color: #fff; box-sizing: border-box; padding-top: 39.5px; }
  #footBox .fb_01 .foot_infoBox { width: 100%; height: 531px; }
  #footBox .fb_01 .foot_infoBox > .corp { padding-bottom: 16px; }
  #footBox .fb_01 .foot_infoBox > .corp > dt { padding-bottom: 10px; font-size: 1rem; }
  #footBox .fb_01 .foot_infoBox > .corp > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_01 .foot_infoBox > .busi { padding-bottom: 16px; }
  #footBox .fb_01 .foot_infoBox > .busi > dt { padding-bottom: 10px; font-size: 1rem; }
  #footBox .fb_01 .foot_infoBox > .busi > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_01 .foot_infoBox > .cusServ > dt { padding-bottom: 10px; font-size: 1rem; }
  #footBox .fb_01 .foot_infoBox > .cusServ > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_02 { width: 100%; height: 250px; background-color: #ebebeb; }
  #footBox .fb_02 .sns_area { width: 100%; height: auto; margin: auto; }
  #footBox .fb_02 .sns_area h2 { box-sizing: border-box; padding-top: 25px; font-size: 1rem; }
  #footBox .fb_02 .sns_area .logoBox { margin: auto; width: 320px; height: 20px; padding-top: 20px; }
  #footBox .fb_02 .sns_area .logoBox > li { float: left; width: 40px; margin-right: 20px; background-size: 50%; }
  #footBox .fb_02 .sns_area .logoBox > li:last-child { width: 80px; }
  #footBox .fb_02 .news_area { height: 130px; padding-top: 40px; }
  #footBox .fb_02 .news_area h2 { font-size: 1rem; }
  #footBox .fb_02 .news_area .mailBox { margin: auto; padding-top: 20px; width: 320px; height: 40px; }
  #footBox .fb_02 .news_area .mailBox input { float: left; width: 280px; height: 100%; font-size: 1rem; }
  #footBox .fb_02 .news_area .mailBox .input_Btn { width: 40px; background-size: 40%; } }

@media screen and (min-width: 768px) and (max-width: 1279px) { #headBox { height: 70px; }
  #headBox .h_logo { width: 130px; height: 70px; margin-left: 24px; }
  #headBox #gnb { width: 522px; height: 100%; margin-right: 24px; }
  #headBox #gnb .navBox { float: left; width: 418px; height: 100%; margin-right: 24px; }
  #headBox #gnb .navBox > li { width: auto; height: 100%; font-size: 0.875rem; margin-right: 20px; line-height: 70px; }
  #headBox #gnb .navBox > li:last-child { margin-right: 0; }
  #headBox #gnb .search_icon { float: left; width: 30px; height: 100%; margin-right: 15px; background-size: 60%; }
  #headBox #gnb .whole_icon { float: left; width: 30px; height: 100%; background-size: 90%; }
  .viewBox_01 { height: 800px; background-position: 50% 50%; }
  .viewBox_01 > .view_title_01 { top: 300px; left: 62px; width: 164px; height: 127px; }
  .viewBox_01 > .view_title_01 > dl > dt { font-weight: 600; font-size: 2.75rem; }
  .viewBox_01 > .view_title_01 > dl > dd { font-size: 1.25rem; color: #fff; }
  .viewBox_01 .view_title_btn_01 { top: 480px; left: 62px; width: 170px; height: 35px; }
  .viewBox_01 .view_title_btn_01 a { font-size: 1rem; line-height: 35px; }
  .conBox_01 { height: 560px; padding-top: 92px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 { width: 596px; height: 375px; }
  .conBox_01 .imgBox_01 a { display: block; width: 100%; height: 100%; color: #fff; padding-top: 147px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 dt { font-size: 1rem; margin-bottom: 20px; }
  .conBox_01 .imgBox_01 dd { font-size: 1.75rem; }
  .conBox_01 .imgBox_01 > .img_01 { float: left; width: 269px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_01 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 50px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_01 > a:hover, .conBox_01 .imgBox_01 > .img_01 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_01 .img_01_title { width: 180px; height: auto; padding-top: 100px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 > .img_02 { float: right; width: 269px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_02 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 50px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_02 > a:hover, .conBox_01 .imgBox_01 > .img_02 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_02 .img_02_title { width: 180px; height: auto; padding-top: 100px; box-sizing: border-box; }
  .conBox_02 { height: 700px; padding-top: 110px; box-sizing: border-box; overflow: hidden; }
  .conBox_02 .conBox_02_title { width: 720px; height: 140px; }
  .conBox_02 .conBox_02_title > dl { line-height: 24px; }
  .conBox_02 .conBox_02_title > dl > dt { font-size: 2rem; }
  .conBox_02 .conBox_02_title > dl > dd { font-size: 1.125rem; padding-top: 16px; }
  .conBox_02 .prodBtn_01 { width: 168px; height: 22px; }
  .conBox_02 .prodBtn_01 > a { width: 100%; height: 100%; display: block; padding-top: 20px; font-size: 14px; border-bottom: 0.5px solid #fff; }
  .conBox_02 .conBox_02_subBox { height: 190px; }
  .conBox_02 .conBox_02_subBox .subBox_btn { top: 100%; }
  .conBox_02 .conBox_02_subBox .subBox_btn button { width: 38px; height: 38px; transform: translateY(-50%); }
  .conBox_02 .conBox_02_subBox .subBox_btn > .next { margin-right: 62px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .prev { margin-left: 62px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul { width: 1760px; height: 200px; }
  .conBox_02 .conBox_02_subBox > ul > li { width: 320px; height: 100%; margin-right: 40px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul > li :first-child { margin-right: 0; }
  .conBox_02 .conBox_02_subBox > ul > li > a { display: block; width: 100%; height: 100%; color: #fff; font-weight: 600; text-align: center; font-size: 1.5rem; padding-top: 85px; box-sizing: border-box; }
  .conBox_03 { height: 1100px; }
  .conBox_03:before { content: " "; width: 100%; height: 230px; background-color: #fff; position: absolute; top: -223px; left: 0; }
  .conBox_03 .conBox_03_title { width: 400px; height: auto; padding-top: 60px; padding-bottom: 80px; }
  .conBox_03 .conBox_03_title h2 { font-size: 1rem; }
  .conBox_03 .colBox { width: 640px; height: 600px; }
  .conBox_03 .colBox > .colBox_01 { width: 100%; height: 300px; }
  .conBox_03 .colBox > .colBox_01 > li { float: left; width: 168px; height: 100%; margin-right: 68px; box-sizing: border-box; background-size: contain; }
  .conBox_03 .colBox > .colBox_01 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 1.875rem; line-height: 900px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox > .colBox_01 > li > a.action { line-height: 300px; }
  .conBox_03 .colBox > .colBox_01 > li > a > span { display: block; }
  .conBox_03 .colBox > .colBox_01 > li:last-child { margin-right: 0; }
  .conBox_03 .colBox .colBox_02 { width: 100%; height: 300px; }
  .conBox_03 .colBox .colBox_02 > li { float: left; width: 168px; height: 100%; margin-right: 68px; background-size: contain; }
  .conBox_03 .colBox .colBox_02 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 1.875rem; line-height: 900px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox .colBox_02 > li > a.action { line-height: 300px; }
  .conBox_03 .colBox .colBox_02 > li > a > span { display: block; }
  .conBox_03 .colBox .colBox_02 > li:last-child { margin-right: 0; }
  .conBox_03 .prodBtn_02 { padding-top: 100px; width: 65px; height: 23px; }
  .conBox_03 .prodBtn_02 a { font-size: 0.875rem; }
  .viewBox_02 { height: 490px; }
  .viewBox_02 .view_title_02 { padding-top: 220px; height: 90px; }
  .viewBox_02 .view_title_02 p { font-size: 2rem; }
  .viewBox_02 .view_title_02 .view_btn_02 { width: 170px; height: 35px; }
  .viewBox_02 .view_title_02 .view_btn_02 > a { font-size: 1rem; line-height: 35px; }
  .adBox { height: 800px; padding-top: 90px; }
  .adBox .adBox_conBox { width: 380px; height: 500px; margin: auto; }
  .adBox .adBox_title { width: 100%; height: 100px; }
  .adBox .adBox_title h2 { font-size: 2.125rem; }
  .adBox .adBox_info { display: none; }
  .adBox .newsBtn { width: 100%; height: auto; padding-top: 20px; }
  .adBox .newsBtn > a { width: 116px; height: 22px; font-size: 0.875rem; font-weight: 600; border-bottom: 0.5px solid #fff; color: #fff; }
  .adBox .adBox_imgBox { width: 100%; height: 470px; margin-top: 50px; }
  #footBox { width: 100%; height: auto; text-align: center; }
  #footBox .fb_01 { width: 400px; height: 650px; margin: auto; box-sizing: border-box; padding-top: 50px; }
  #footBox .fb_01 .foot_infoBox { width: 100%; height: auto; }
  #footBox .fb_01 .foot_infoBox > .corp { padding-bottom: 30px; }
  #footBox .fb_01 .foot_infoBox > .corp > dt { padding-bottom: 10px; font-size: 1rem; font-weight: 700; }
  #footBox .fb_01 .foot_infoBox > .corp > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_01 .foot_infoBox > .busi { padding-bottom: 30px; }
  #footBox .fb_01 .foot_infoBox > .busi > dt { padding-bottom: 10px; font-size: 1rem; }
  #footBox .fb_01 .foot_infoBox > .busi > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_01 .foot_infoBox > .cusServ { width: 400px; height: 195px; float: left; }
  #footBox .fb_01 .foot_infoBox > .cusServ > dt { font-size: 1rem; padding-bottom: 10px; }
  #footBox .fb_01 .foot_infoBox > .cusServ > dd { font-size: 0.75rem; line-height: 25px; }
  #footBox .fb_02 { width: 100%; height: auto; background-color: #ebebeb; }
  #footBox .fb_02 .sns_area { width: 325px; height: auto; margin: auto; }
  #footBox .fb_02 .sns_area > h2 { width: auto; height: auto; box-sizing: border-box; padding-top: 59px; text-align: center; font-size: 1rem; font-weight: 600; }
  #footBox .fb_02 .sns_area .logoBox { width: 100%; height: 20px; padding-top: 18px; }
  #footBox .fb_02 .sns_area .logoBox > li { float: left; width: 40px; margin-right: 28px; background-size: contain; }
  #footBox .fb_02 .sns_area .logoBox > li:last-child { width: 50px; }
  #footBox .fb_02 .news_area { height: 140px; width: auto; padding-top: 40px; }
  #footBox .fb_02 .news_area h2 { font-size: 1rem; font-weight: 600; }
  #footBox .fb_02 .news_area .mailBox { margin: auto; padding-top: 18px; width: 300px; height: 40px; }
  #footBox .fb_02 .news_area .mailBox input { float: left; width: 260px; height: 100%; font-size: 1rem; }
  #footBox .fb_02 .news_area .mailBox .input_Btn { float: left; width: 40px; background-size: 40%; } }

@media screen and (min-width: 1280px) and (max-width: 1919px) { #headBox { height: 70px; z-index: 500; background-color: rgba(0, 0, 0, 0.6); }
  #headBox .h_logo { width: 210px; height: 70px; margin-left: 70px; }
  #headBox #gnb { width: 846px; height: 100%; margin-right: 70px; }
  #headBox #gnb .navBox { float: left; width: 640px; height: 100%; margin-right: 70px; }
  #headBox #gnb .navBox > li { width: auto; height: 100%; font-size: 1.125rem; margin-right: 55px; line-height: 70px; }
  #headBox #gnb .navBox > li:last-child { margin-right: 0; }
  #headBox #gnb .search_icon { float: left; width: 42px; height: 100%; margin-right: 28px; background-size: 60%; }
  #headBox #gnb .whole_icon { float: left; width: 42px; height: 100%; background-size: 90%; }
  .viewBox_01 { height: 800px; background-position: 50% 20%; }
  .viewBox_01 > .view_title_01 { top: 300px; left: 185px; width: 300px; height: 190px; }
  .viewBox_01 > .view_title_01 > dl > dt { font-weight: 600; font-size: 3.25rem; line-height: 63px; color: #fff; }
  .viewBox_01 > .view_title_01 > dl > dd { font-size: 1.5rem; color: #fff; }
  .viewBox_01 .view_title_btn_01 { top: 490px; left: 185px; width: 250px; height: 50px; }
  .viewBox_01 .view_title_btn_01 > a { line-height: 50px; }
  .conBox_01 { height: 700px; padding-top: 125px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 { width: 720px; height: 450px; }
  .conBox_01 .imgBox_01 a { display: block; width: 100%; height: 450px; color: #fff; box-sizing: border-box; }
  .conBox_01 .imgBox_01 dt { font-size: 1.25rem; margin-bottom: 20px; }
  .conBox_01 .imgBox_01 dd { font-size: 2.125rem; font-weight: bold; }
  .conBox_01 .imgBox_01 > .img_01 { float: left; width: 340px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_01 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 170px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_01 > a:hover, .conBox_01 .imgBox_01 > .img_01 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_01 .img_01_title { box-sizing: border-box; width: 220px; height: auto; text-align: center; }
  .conBox_01 .imgBox_01 > .img_02 { float: right; width: 340px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_02 > a { background-color: rgba(0, 0, 0, 0.5); padding-top: 170px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_02 > a:hover, .conBox_01 .imgBox_01 > .img_02 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_02 .img_02_title { box-sizing: border-box; width: 220px; height: auto; text-align: center; }
  .conBox_02 { height: 694px; padding-top: 100px; box-sizing: border-box; overflow: hidden; }
  .conBox_02 .conBox_02_title { width: 720px; height: 140px; padding-top: 20px; }
  .conBox_02 .conBox_02_title dl > dt { font-size: 2.375rem; }
  .conBox_02 .conBox_02_title dl > dd { font-size: 1.125rem; padding-top: 16px; }
  .conBox_02 .prodBtn_01 { width: 200px; height: 28px; }
  .conBox_02 .prodBtn_01 > a { width: 100%; height: 100%; display: block; padding-top: 40px; font-size: 1rem; border-bottom: 1px solid #fff; }
  .conBox_02 .conBox_02_subBox { width: 2176px; height: 270px; }
  .conBox_02 .conBox_02_subBox .subBox_btn { top: 100%; transform: translateY(-50%); }
  .conBox_02 .conBox_02_subBox .subBox_btn button { width: 38px; height: 38px; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .next { margin-right: 185px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .prev { margin-left: 185px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul { width: 2160px; height: 100%; }
  .conBox_02 .conBox_02_subBox > ul > li { width: 400px; height: 100%; margin-right: 40px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul > li :first-child { margin-right: 0; }
  .conBox_02 .conBox_02_subBox > ul > li > a { display: block; width: 100%; height: 100%; color: #fff; font-weight: 600; text-align: center; font-size: 1.625rem; padding-top: 112px; box-sizing: border-box; }
  .conBox_03 { width: 100%; height: 1700px; }
  .conBox_03:before { content: " "; width: 100%; height: 130px; background-color: #fff; position: absolute; top: -129px; left: 0; }
  .conBox_03 .conBox_03_title { width: 500px; height: auto; padding-top: 290px; padding-bottom: 90px; box-sizing: border-box; }
  .conBox_03 .conBox_03_title h2 { font-size: 1.25rem; }
  .conBox_03 .colBox { width: 720px; height: 900px; }
  .conBox_03 .colBox > .colBox_01 { width: 100%; height: 450px; }
  .conBox_03 .colBox > .colBox_01 > li { float: left; width: 240px; height: 100%; background-size: 90%; }
  .conBox_03 .colBox > .colBox_01 > li > a { width: 100%; height: 200px; display: block; text-align: center; font-size: 2.125rem; line-height: 950px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox > .colBox_01 > li > a.action { line-height: 450px; }
  .conBox_03 .colBox > .colBox_01 > li > a > span { display: block; }
  .conBox_03 .colBox > .colBox_02 { width: 100%; height: 450px; }
  .conBox_03 .colBox > .colBox_02 > li { float: left; width: 240px; height: 100%; background-size: 90%; }
  .conBox_03 .colBox > .colBox_02 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 2.125rem; line-height: 950px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox > .colBox_02 > li > a.action { line-height: 450px; }
  .conBox_03 .colBox > .colBox_02 > li > a > span { display: block; }
  .conBox_03 .prodBtn_02 { padding-top: 90px; width: 70px; height: 28px; }
  .conBox_03 .prodBtn_02 a { font-size: 1rem; }
  .viewBox_02 { width: 100%; height: 550px; }
  .viewBox_02 > .view_title_02 { padding-top: 250px; height: 100px; }
  .viewBox_02 > .view_title_02 > p { font-size: 2.125rem; }
  .viewBox_02 > .view_title_02 > .view_btn_02 { width: 250px; height: 50px; }
  .viewBox_02 > .view_title_02 > .view_btn_02 > a { line-height: 50px; }
  .adBox { width: 100%; height: 700px; padding-top: 123px; }
  .adBox .adBox_conBox { width: 900px; height: 100%; margin: auto; box-sizing: border-box; }
  .adBox .adBox_conBox .adBox_title { float: left; width: 400px; height: auto; padding-top: 60px; box-sizing: border-box; }
  .adBox .adBox_conBox .adBox_title h2 { float: left; width: 100%; font-size: 2.25rem; font-weight: bold; margin-bottom: 30px; text-align: center; }
  .adBox .adBox_conBox .adBox_title .adBox_info { display: block; width: 100%; height: auto; box-sizing: border-box; font-size: 0.875rem; font-weight: 400; text-align: center; color: #fff; line-height: 25px; }
  .adBox .adBox_conBox .adBox_title .newsBtn { width: 200px; height: 100px; padding-top: 20px; margin: auto; margin-top: 65px; }
  .adBox .adBox_conBox .adBox_title .newsBtn > a { display: block; width: 100%; height: 100%; }
  .adBox .adBox_conBox .adBox_imgBox { float: right; width: 330px; height: 450px; margin-top: 0; }
  #footBox { width: 100%; height: 300px; color: #222; font-weight: 400; background-color: #ebebeb; padding-top: 70px; }
  #footBox > .foot_conBox { width: 1140px; height: 350px; margin: auto; }
  #footBox .fb_01 { float: left; width: 700px; height: 300px; }
  #footBox .fb_01 .brand_logo { float: left; width: 130px; height: 20px; margin-right: 60px; background-size: contain; }
  #footBox .fb_01 .foot_infoBox { box-sizing: border-box; width: 100%; height: 100%; }
  #footBox .fb_01 .foot_infoBox dl { float: left; text-align: left; height: auto; width: auto; margin-right: 70px; }
  #footBox .fb_01 .foot_infoBox dl dt { width: auto; margin-bottom: 18px; font-size: 0.875rem; font-weight: 700; }
  #footBox .fb_01 .foot_infoBox dl dd { width: auto; margin-bottom: 13px; font-size: 0.875rem; font-weight: 400; }
  #footBox .fb_01 .foot_infoBox dl dd a { display: block; width: auto; height: 20px; }
  #footBox .fb_02 { float: left; width: auto; height: 300px; margin-left: 50px; background-color: transparent; box-sizing: border-box; }
  #footBox .fb_02 > h2 { width: 100%; height: auto; padding-top: 59px; font-size: 0.875rem; font-weight: 600; }
  #footBox .fb_02 .sns_area { width: 300px; height: auto; }
  #footBox .fb_02 .sns_area .logoBox { width: 100%; height: 24px; padding-top: 18px; }
  #footBox .fb_02 .sns_area .logoBox > li { float: left; width: 40px; height: 100%; margin-right: 20px; background-size: contain; box-sizing: border-box; }
  #footBox .fb_02 .sns_area .logoBox > li > a { display: block; width: 100%; height: 100%; }
  #footBox .fb_02 .sns_area .logoBox > li:last-child { width: 60px; }
  #footBox .fb_02 .news_area { height: 140px; width: auto; box-sizing: border-box; margin-top: 40px; }
  #footBox .fb_02 .news_area .mailBox { margin: 0; padding-top: 18px; width: 300px; height: 50px; }
  #footBox .fb_02 .news_area .mailBox input { float: left; width: 240px; height: 100%; text-indent: 20px; }
  #footBox .fb_02 .news_area .mailBox .input_Btn { float: left; width: 50px; background-size: 50%; } }

@media screen and (min-width: 1920px) { #headBox { position: fixed; top: 0; left: 0; width: 100%; height: 80px; z-index: 500; background-color: rgba(0, 0, 0, 0.6); max-width: 1920px; }
  #headBox .h_logo { width: 210px; height: 80px; margin-left: 391px; }
  #headBox #gnb { width: 860px; height: 100%; margin-right: 391px; }
  #headBox #gnb .navBox { float: left; width: 640px; height: 100%; margin-right: 81px; }
  #headBox #gnb .navBox > li { width: auto; height: 100%; font-size: 1.125rem; margin-right: 55px; line-height: 80px; }
  #headBox #gnb .navBox > li:last-child { margin-right: 0; }
  #headBox #gnb .search_icon { float: left; width: 42px; height: 80px; margin-right: 55px; background-size: 60%; }
  #headBox #gnb .search_icon > a { display: block; width: 100%; height: 80px; }
  #headBox #gnb .whole_icon { float: left; width: 42px; height: 80px; background-size: 90%; }
  #headBox #gnb .whole_icon > a { display: block; width: 100%; height: 80px; }
  #content { width: 100%; height: auto; max-width: 1920px; }
  .viewBox_01 { position: relative; width: 100%; height: 750px; background-position: 50% 80%; }
  .viewBox_01 > .view_title_01 { top: 280px; left: 370px; width: 300px; height: 190px; }
  .viewBox_01 > .view_title_01 > dl { width: 100%; height: auto; }
  .viewBox_01 > .view_title_01 > dl > dt { font-weight: 500; font-size: 4rem; color: #fff; }
  .viewBox_01 > .view_title_01 > dl > dd { font-size: 2rem; color: #fff; }
  .viewBox_01 .view_title_btn_01 { top: 520px; left: 360px; width: 250px; height: 45px; }
  .viewBox_01 .view_title_btn_01 > a { line-height: 45px; }
  .conBox_01 { width: 100%; height: 900px; padding-top: 135px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 { width: 1000px; height: 630px; }
  .conBox_01 .imgBox_01 a { display: block; width: 100%; height: 100%; color: #fff; padding-top: 150px; box-sizing: border-box; }
  .conBox_01 .imgBox_01 dt { width: 100%; height: auto; font-size: 1.75rem; margin-bottom: 20px; }
  .conBox_01 .imgBox_01 dd { width: 100%; height: auto; font-size: 3.2rem; font-weight: bold; }
  .conBox_01 .imgBox_01 > .img_01 { float: left; width: 470px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_01 > a { background-color: rgba(0, 0, 0, 0.4); padding-top: 170px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_01 > a:hover, .conBox_01 .imgBox_01 > .img_01 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_01 .img_01_title { padding-top: 100px; box-sizing: border-box; width: 300px; height: auto; }
  .conBox_01 .imgBox_01 > .img_02 { float: right; width: 470px; height: 100%; }
  .conBox_01 .imgBox_01 > .img_02 > a { background-color: rgba(0, 0, 0, 0.4); padding-top: 170px; box-sizing: border-box; transition: all 200ms ease-out; }
  .conBox_01 .imgBox_01 > .img_02 > a:hover, .conBox_01 .imgBox_01 > .img_02 > a:focus { background-color: transparent; color: transparent; }
  .conBox_01 .imgBox_01 > .img_02 .img_02_title { padding-top: 100px; box-sizing: border-box; width: 300px; height: auto; }
  .conBox_02 { height: 984px; padding-top: 134px; box-sizing: border-box; overflow: hidden; }
  .conBox_02 .conBox_02_title { width: 100%; height: 140px; }
  .conBox_02 .conBox_02_title dl { line-height: 27px; }
  .conBox_02 .conBox_02_title dl > dt { font-size: 3.125rem; }
  .conBox_02 .conBox_02_title dl > dd { font-size: 1.75rem; padding-top: 35px; }
  .conBox_02 .prodBtn_01 { width: 238px; height: 30px; }
  .conBox_02 .prodBtn_01 > a { width: 100%; height: 100%; display: block; padding-top: 80px; font-size: 1.25rem; border-bottom: 1px solid #fff; }
  .conBox_02 .conBox_02_subBox { height: 400px; }
  .conBox_02 .conBox_02_subBox .subBox_btn { top: 106%; }
  .conBox_02 .conBox_02_subBox .subBox_btn button { width: 70px; height: 70px; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .next { margin-right: 360px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox .subBox_btn > .prev { margin-left: 360px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul { width: 4150px; height: 500px; }
  .conBox_02 .conBox_02_subBox > ul > li { width: 750px; height: 100%; margin-right: 100px; box-sizing: border-box; }
  .conBox_02 .conBox_02_subBox > ul > li :first-child { margin-right: 0; }
  .conBox_02 .conBox_02_subBox > ul > li > a { display: block; width: 100%; height: 100%; color: #fff; font-weight: 600; text-align: center; font-size: 2.375rem; padding-top: 210px; box-sizing: border-box; }
  .conBox_03 { height: 2200px; }
  .conBox_03:before { content: " "; width: 100%; height: 276px; background-color: #fff; position: absolute; top: -275px; left: 0; }
  .conBox_03 .conBox_03_title { width: 500px; height: auto; padding-top: 420px; padding-bottom: 90px; box-sizing: border-box; }
  .conBox_03 .conBox_03_title h2 { font-size: 1.5rem; font-weight: bold; }
  .conBox_03 .colBox { width: 1028px; height: 1200px; }
  .conBox_03 .colBox > .colBox_01 { width: 100%; height: 600px; }
  .conBox_03 .colBox > .colBox_01 > li { float: left; width: 342px; height: 100%; box-sizing: border-box; background-size: 70%; }
  .conBox_03 .colBox > .colBox_01 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 2.125rem; line-height: 1300px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox > .colBox_01 > li > a.action { line-height: 600px; }
  .conBox_03 .colBox > .colBox_01 > li > a > span { display: block; }
  .conBox_03 .colBox > .colBox_02 { width: 100%; height: 600px; }
  .conBox_03 .colBox > .colBox_02 > li { float: left; width: 342px; height: 100%; box-sizing: border-box; background-size: 70%; }
  .conBox_03 .colBox > .colBox_02 > li > a { width: 100%; height: 100%; display: block; text-align: center; font-size: 2.125rem; line-height: 1300px; overflow: hidden; font-weight: bold; transition: all 800ms ease-in-out; color: #222; }
  .conBox_03 .colBox > .colBox_02 > li > a.action { line-height: 600px; }
  .conBox_03 .colBox > .colBox_02 > li > a > span { display: block; }
  .conBox_03 .prodBtn_02 { padding-top: 90px; width: 65px; height: 25px; }
  .conBox_03 .prodBtn_02 a { font-size: 1rem; font-weight: bold; }
  .viewBox_02 { width: 100%; height: 690px; }
  .viewBox_02 .view_title_02 { height: 200px; padding-top: 280px; }
  .viewBox_02 .view_title_02 p { font-size: 3.125rem; margin-bottom: 20px; }
  .viewBox_02 .view_title_02 .view_btn_02 { width: 250px; height: 50px; }
  .viewBox_02 .view_title_02 .view_btn_02 > a { line-height: 50px; }
  .adBox { width: 100%; height: 750px; padding-top: 100px; }
  .adBox .adBox_conBox { width: 1000px; height: 550px; margin: auto; box-sizing: border-box; }
  .adBox .adBox_conBox .adBox_title { float: left; width: 500px; height: auto; box-sizing: border-box; padding-top: 109px; }
  .adBox .adBox_conBox .adBox_title h2 { float: left; width: 100%; font-size: 2.875rem; font-weight: bold; margin-bottom: 30px; text-align: center; }
  .adBox .adBox_conBox .adBox_title .adBox_info { display: block; width: 100%; height: auto; box-sizing: border-box; font-size: 0.875rem; font-weight: 400; text-align: center; color: #fff; line-height: 28px; }
  .adBox .adBox_conBox .adBox_title .newsBtn { width: 200px; height: 100px; margin: auto; margin-top: 65px; }
  .adBox .adBox_conBox .adBox_title .newsBtn > a { display: block; width: 100%; height: 100%; }
  .adBox .adBox_conBox .adBox_imgBox { float: right; width: 400px; height: 550px; margin-top: 0; }
  #footBox { width: 100%; height: 350px; max-width: 1920px; color: #222; font-weight: 400; background-color: #ebebeb; padding-top: 85px; }
  #footBox > .foot_conBox { width: 1200px; height: 350px; margin: auto; }
  #footBox .fb_01 { float: left; width: 700px; height: 300px; }
  #footBox .fb_01 .brand_logo { float: left; width: 130px; height: 30px; margin-right: 70px; background-size: contain; }
  #footBox .fb_01 .foot_infoBox { box-sizing: border-box; width: 100%; height: 100%; }
  #footBox .fb_01 .foot_infoBox dl { float: left; width: auto; height: auto; text-align: left; margin-right: 70px; }
  #footBox .fb_01 .foot_infoBox dl dt { width: auto; margin-bottom: 18px; font-size: 0.875rem; font-weight: bold; }
  #footBox .fb_01 .foot_infoBox dl dd { width: auto; font-size: 0.875rem; margin-bottom: 13px; font-weight: 400; }
  #footBox .fb_01 .foot_infoBox dl dd a { display: block; width: auto; height: 20px; }
  #footBox .fb_01 .foot_infoBox dl dd a:hover { font-weight: 700; color: #222; }
  #footBox .fb_02 { float: left; width: auto; height: 300px; margin-left: 50px; background-color: transparent; box-sizing: border-box; }
  #footBox .fb_02 h2 { width: 100%; height: auto; font-size: 15px; font-weight: bold; text-align: left; }
  #footBox .fb_02 .sns_area { width: 400px; height: auto; }
  #footBox .fb_02 .sns_area .logoBox { width: 100%; height: 40px; padding-top: 18px; }
  #footBox .fb_02 .sns_area .logoBox > li { float: left; width: 45px; height: 100%; margin-right: 32px; background-size: contain; box-sizing: border-box; }
  #footBox .fb_02 .sns_area .logoBox > li > a { width: 100%; height: 100%; display: block; }
  #footBox .fb_02 .sns_area .logoBox > li:last-child { width: 70px; }
  #footBox .fb_02 .news_area { height: 140px; width: auto; box-sizing: border-box; margin-top: 60px; }
  #footBox .fb_02 .news_area .mailBox { margin: 0; padding-top: 18px; width: 400px; height: 50px; }
  #footBox .fb_02 .news_area .mailBox input { float: left; width: 290px; height: 100%; text-indent: 20px; }
  #footBox .fb_02 .news_area .mailBox .input_Btn { float: left; width: 50px; background-size: 60%; } }

#headBox { width: 100%; position: fixed; top: 0; left: 0; right: 0; margin: auto; z-index: 600; background-color: rgba(0, 0, 0, 0.5); }

#headBox .h_logo { float: left; background-image: url("../../img/logo/FRITZ_HANSEN_White_RGB.png"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; }

#headBox .h_logo > a { display: block; width: 100%; height: 100%; }

#headBox #gnb { float: right; }

#headBox #gnb > ul > li { float: left; }

#headBox #gnb > ul > li a { color: #fff; font-weight: 300; }

#headBox #gnb .search_icon { background-image: url("../../img/icon/search.svg"); background-position: 50% 50%; background-repeat: no-repeat; }

#headBox #gnb .whole_icon { background-image: url("../../img/icon/whole_icon.svg"); background-position: 50% 50%; background-repeat: no-repeat; }

#content { width: 100%; height: auto; margin: auto; }

.viewBox_01 { position: relative; width: 100%; background-image: url(../../img/viewBox_img.jpg); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }

.viewBox_01 .view_title_01 { position: absolute; }

.viewBox_01 .view_title_01 > dl { width: 100%; height: auto; color: #fff; }

.viewBox_01 .view_title_btn_01 { position: absolute; z-index: 1; background-color: #000; }

.viewBox_01 .view_title_btn_01 > a { display: block; width: 100%; height: 100%; color: #fff; text-align: center; }

.viewBox_01 .view_title_btn_01:hover, .viewBox_01 .view_title_btn_01:focus { background-color: transparent; border: 1px solid #fff; color: #fff; font-weight: 400; }

.conBox_01 { width: 100%; }

.imgBox_01 { text-align: center; margin: auto; color: #fff; }

.imgBox_01 .img_01 { box-sizing: border-box; background-image: url("../../img/conBox_01_01.jpg"); background-size: cover; background-repeat: no-repeat; }

.imgBox_01 .img_01 .img_01_title { margin: auto; }

.imgBox_01 .img_01 dt { font-weight: 300; }

.imgBox_01 .img_01 dd { font-weight: 600; }

.imgBox_01 .img_02 { box-sizing: border-box; background-image: url("../../img/imgBox_02.jpg"); background-size: cover; background-repeat: no-repeat; }

.imgBox_01 .img_02 .img_02_title { margin: auto; }

.conBox_02 { width: 100%; position: relative; background-color: #666; }

.conBox_02 .conBox_02_title { margin: auto; }

.conBox_02 .conBox_02_title > dl { width: 100%; height: auto; text-align: center; color: #fff; }

.conBox_02 .conBox_02_title > dl > dt { font-weight: 600; }

.conBox_02 .prodBtn_01 { margin: auto; }

.conBox_02 .prodBtn_01 a { width: 100%; height: 100%; display: block; text-align: center; color: #fff; font-weight: 600; }

.conBox_02 .conBox_02_subBox { width: 100%; position: relative; }

.conBox_02 .conBox_02_subBox .subBox_btn { width: 100%; height: 0; position: absolute; z-index: 500; }

.conBox_02 .conBox_02_subBox .subBox_btn button { transform: translateY(-50%); background-size: contain; background-repeat: no-repeat; background-color: transparent; }

.conBox_02 .conBox_02_subBox .subBox_btn .next { float: right; /* margin-right: 50px;*/ background-image: url("../../img/icon/arrow_icon_next.png"); }

.conBox_02 .conBox_02_subBox .subBox_btn .prev { float: left; /* margin-left: 50px; */ background-image: url("../../img/icon/arrow_icon_prev.png"); }

.conBox_02 .conBox_02_subBox > ul { position: absolute; top: 50%; left: 50%; z-index: 1; transform: translateX(-50%); }

.conBox_02 .conBox_02_subBox > ul > li { float: left; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.conBox_02 .conBox_02_subBox > ul > li > button { width: 100%; height: 100%; background-color: transparent; }

.conBox_02 .conBox_02_subBox > ul .subBox_01 { background-image: url("../../img/subBox_02.jpg"); margin-left: 0; }

.conBox_02 .conBox_02_subBox > ul .subBox_02 { background-image: url("../../img/subBox_05.jpg"); }

.conBox_02 .conBox_02_subBox > ul .subBox_03 { background-image: url("../../img/subBox_03.jpg"); }

.conBox_02 .conBox_02_subBox > ul .subBox_04 { background-image: url("../../img/subBox_01.jpg"); }

.conBox_02 .conBox_02_subBox > ul .subBox_05 { background-image: url("../../img/subBox_04.jpg"); }

.conBox_03 { position: relative; width: 100%; }

.conBox_03 .conBox_03_title { margin: auto; }

.conBox_03 .conBox_03_title h2 { text-align: center; font-weight: 700; }

.conBox_03 .colBox { margin: auto; }

.conBox_03 .colBox .colBox_01 { width: 100%; }

.conBox_03 .colBox .colBox_01 > li { background-position: 50% 50%; background-repeat: no-repeat; }

.conBox_03 .colBox .colBox_01 > li:nth-child(1) { background-image: url("../../img/product_img/colBox_img_011.jpg"); }

.conBox_03 .colBox .colBox_01 > li:nth-child(2) { background-image: url("../../img/product_img/colBox_img_014.png"); }

.conBox_03 .colBox .colBox_01 > li:nth-child(3) { background-image: url("../../img/product_img/colBox_img_018.png"); }

.conBox_03 .colBox .colBox_01 > li > a { display: block; width: 100%; height: 100%; }

.conBox_03 .colBox .colBox_02 { width: 100%; }

.conBox_03 .colBox .colBox_02 > li { background-position: 50% 50%; background-repeat: no-repeat; }

.conBox_03 .colBox .colBox_02 > li:nth-child(1) { background-image: url("../../img/product_img/colBox_img_010.png"); }

.conBox_03 .colBox .colBox_02 > li:nth-child(2) { background-image: url("../../img/product_img/colBox_img_016.png"); }

.conBox_03 .colBox .colBox_02 > li:nth-child(3) { background-image: url("../../img/product_img/colBox_img_01.png"); }

.conBox_03 .colBox .colBox_02 > li > a { display: block; width: 100%; height: 100%; }

.conBox_03 .prodBtn_02 { margin: auto; border-bottom: #000 solid 0.3px; }

.conBox_03 .prodBtn_02 a { width: 100%; height: 100%; display: block; text-align: center; font-weight: 700; }

.viewBox_02 { width: 100%; background-image: url(../../img/viewBox_02.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }

.viewBox_02 .view_title_02 { width: 100%; box-sizing: border-box; }

.viewBox_02 .view_title_02 p { width: 100%; height: auto; text-align: center; font-weight: 600; color: #fff; }

.viewBox_02 .view_title_02 > .view_btn_02 { margin: auto; background-color: #000; }

.viewBox_02 .view_title_02 > .view_btn_02 > a { display: block; width: 100%; height: 100%; color: #fff; text-align: center; }

.viewBox_02 .view_title_02 > .view_btn_02:hover, .viewBox_02 .view_title_02 > .view_btn_02:focus { background-color: transparent; border: 1px solid #fff; color: #fff; font-weight: 700; }

.adBox { width: 100%; background-color: #666; box-sizing: border-box; }

.adBox .adBox_conBox .adBox_title h2 { text-align: center; color: #fff; font-weight: 600; }

.adBox .adBox_conBox .adBox_title .newsBtn { height: auto; box-sizing: border-box; }

.adBox .adBox_conBox .adBox_title .newsBtn > a { margin: auto; display: block; text-align: center; font-weight: 700; color: #fff; }

.adBox .adBox_conBox .adBox_imgBox { box-sizing: border-box; background-image: url("../../img/adBox_02.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 35%; }

#footBox { /* width: 100%;*/ margin: auto; }

#footBox .fb_01 .foot_infoBox .brand_logo { float: left; background-image: url("../../img/logo/fh1872_logo-01.png"); background-repeat: no-repeat; background-position: 0 20%; }

#footBox .fb_01 .foot_infoBox dt { font-weight: 600; }

#footBox .fb_02 .sns_area .logoBox .inst_logo { background-image: url("../../img/logo/instagram.png"); }

#footBox .fb_02 .sns_area .logoBox .fb_logo { background-image: url("../../img/logo/facebook.png"); }

#footBox .fb_02 .sns_area .logoBox .pin_logo { background-image: url("../../img/logo/pinterest.png"); }

#footBox .fb_02 .sns_area .logoBox .you_logo { background-image: url("../../img/logo/youtube_logo.png"); }

#footBox .fb_02 .sns_area .logoBox .linked_logo { background-image: url("../../img/logo/linkedIn.png"); }

#footBox .fb_02 .sns_area .logoBox > li { height: 100%; background-repeat: no-repeat; background-position: 50% 50%; }

#footBox .fb_02 .sns_area .logoBox > li:last-child { height: 100%; margin-right: 0; }

#footBox .fb_02 .news_area .mailBox input { font-size: 1rem; color: #222; background-color: transparent; border-collapse: collapse; border: 1px solid #999; }

#footBox .fb_02 .news_area .mailBox input:hover { background-color: rgba(255, 255, 255, 0.4); }

#footBox .fb_02 .news_area .mailBox .input_Btn { float: left; height: 100%; background-image: url("../../img/icon/inputbtn.png"); background-repeat: no-repeat; background-position: 50% 50%; background-color: transparent; border-collapse: collapse; border: 1px solid #999; border-left: 0; }

#footBox .fb_02 .news_area .mailBox .input_Btn:hover { background-color: #fff; }
